page-explora {

    .slides-div {
        height: 53%;
        margin-bottom: 5px !important;
    }

    .h1-settings {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .h1-slides {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 3px;
        margin-top: 0px;
    }
    
    .h2-settings {
        font-size: 17px;
        font-weight: bold;     
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .title-settings {
        font-size: 15px;
        font-weight: bold;
        text-align: left !important;
        overflow-wrap: break-word !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .paragraph-settings {
        text-align: left !important;
        font-size: 12px;
        overflow-wrap: break-word !important;
        padding-top: 0px !important;
        color: dark;
        margin: 0px !important;
        padding: 0px !important;
    }

    .p-slides {
        text-align: left !important;
        font-size: 15px;
        overflow-wrap: break-word !important;
        padding: 5px !important;
        color: dark;
        margin: 5px !important;
    }

    .page-title {
        font-size: 7px !important;
        color: color($colors, primary);
    }

    .column {
        float: right;
        width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .button-cat {
        height: 0 !important;
        width: 100%;
        padding-top: 28.125% !important;
        margin-top: 0px !important;
        padding-bottom: 28.125% !important;
        margin-bottom: 0px !important;
    }

    .button-img {
        z-index: 2;
        position: absolute;
        background: transparent;
        top: 0%;
        left: 0%;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .wrapper {
        position: relative;
        margin: 5px !important;
    }
    
    .exp-text {
        margin: 5px !important;
        padding-top: 5px !important;
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .btn-text {
        font-size: 20px;
    }
}
