page-actividad {
  ion-header {
    .toolbar {
      position: absolute;
      .toolbar-background {
        background: transparent;
      }
      .toolbar-title {
        color: black;
      }
    }
  }

  // img {
  //   position: absolute;
  //   clip: rect(0px, 60px, 200px, 0px);
  //   width: 100%;
  // }

  .div-padding {
    padding: 5px 0px 5px 10px;
    div {
      h2 {
        font-size: 20px;
        padding-bottom: 5px;
      }
    }
  }

  .costo {
    font-size: 18px;
    padding: 0px;
  }

  .descripcion {
    font-size: 18px;
  }

  // .add-plans {
  //   height: 50px;
  // }

  .card-row {
    width: 100% !important;
    align-items: center;
  }
}
