
<ion-header>

        <ion-navbar>
          <ion-title>Mas información</ion-title>
        </ion-navbar>
      
      </ion-header>


<!-- Informacion que se muestra al seleccionar "Ver mas" en Aventuras -->
<ion-content padding>
  <div *ngIf="CatAdventuras">
      <p>Aqui habra mas informacion y fotos</p>
  </div>

<!-- Informacion que se muestra al seleccionar "Ver mas" en Gastronomia -->
  <div *ngIf="CatGastronomia">
    <p>Perry la perrita</p>  
  </div>

<!-- Informacion que se muestra al seleccionar "Ver mas" en Souvenir -->
  <div *ngIf="CatSouvenir">
    <p>Aqui habra mas informacion</p>  
  </div>




</ion-content>