page-categoria {
    .page-title {
        font-size: 7px !important;
        color: color($colors, primary);
    }
<<<<<<< HEAD
=======

    .card {
        width: 100%;
        margin: 0px 0px 0px 0px;
        border: 0px;
        border-radius: 0px;
    }

    // .backnav-btn {
    // }
>>>>>>> 2ac5041dff03b8c7cc5c3f2e411b0bc05e686a4b
}
