page-home {
  .page-title {
    font-size: 7px !important;
    color: color($colors, primary);
  }
  //Clases para el scroll de las cartas a horizontal
  .scroll-zoom-wrapper {
    white-space: nowrap;
  }
  .home-card {
    width: 77% !important;
    display: inline-block;
  }
  .ionscroll {
    min-height: 100%;
    height: 100%;
    .scroll-content {
      padding: 0px !important;
    }
  }
  //Clases para los apartados de cada seccion
  .font-headers-cards {
    position: relative;
    left: 2%;
    font-size: 20px;
  }
  .font-boton {
    position: relative;
    font-size: 12px;
    bottom: 10%;
    color: black;
  }
  //Clases para la informacion dentro de las cartas
  .font-titles-cards {
    font-size: 18px;
    font-weight: bold;
  }

  .font-paragraph-cards {
    font-size: 14px;
    color: black;
    white-space: normal;

  .font-url {
    font-size: 12px;
    color: black;
    margin-right: 6px;
  }
  
  .font-headers-cards {
    padding-left: 7px;
  }
  
  .ver-mas-container {
    height: 100%;

  }
}
