<ion-header>

  <!-- <ion-navbar color="whitecustom">
    <ion-row align-items-center>
      <img src="assets/imgs/mxplore-logo-all-red.png" width="100px" style="display:inline-block; padding-left: 7px;" />
    </ion-row>
  </ion-navbar> -->

</ion-header>


<ion-content no-padding>


  <img src="assets/imgs/dinosaurio-santiago-letras.png" width="100%" />

  <ion-row align-items-center>
    <ion-col col-8>
      <h2 class="font-headers-cards">Recomendados</h2>
    </ion-col>
    <ion-col col-4>
      <ion-row align-items-center justify-content-end>
        <button ion-button small clear class="font-boton" (click)="Recomendados()" icon-end>Ver mas
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </ion-row>
    </ion-col>
  </ion-row>

  <div>
    <ion-scroll class="ionscroll" scrollX="true" scrollY="true">
      <!-- Primera carta Recomendados -->
      <ion-card class="home-card">
        <img src="assets/imgs/feria.jpg" />
        <ion-card-content>
          <ion-row no-wrap align-items-center justify-content-center>
            <ion-col col-8 no-padding>
              <ion-card-title text-wrap class="font-titles-cards">
                Feria Aramberri
              </ion-card-title>
            </ion-col>
            <ion-col col-4>
              <ion-row align-items-center justify-content-center>
                <p class="hearts">10k
                  <ion-icon name="heart" mini color="romantico"></ion-icon>
                </p>
              </ion-row>
              <ion-row align-items-center justify-content-center>
                <button class="button-cat" no-shadow ion-button block small text-wrap>
                  Experiencias
                </button>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="font-paragraph-cards overflow-text">
              Diviertete en familia en la feria de Aramberri.
            </p>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <!-- Segunda carta Recomendados -->
      <ion-card class="home-card">
        <img src="assets/imgs/exposicion.jpg" />
        <ion-card-content>
          <ion-row no-wrap align-items-center justify-content-center>
            <ion-col col-8 no-padding>
              <ion-card-title text-wrap class="font-titles-cards">
                Registro 05 Marco
              </ion-card-title>
            </ion-col>
            <ion-col col-4>
              <ion-row align-items-center justify-content-center>
                <p class="hearts">2,377
                  <ion-icon name="heart" mini color="romantico"></ion-icon>
                </p>
              </ion-row>
              <ion-row align-items-center justify-content-center>
                <button class="button-cat" no-shadow ion-button block small text-wrap>
                  Cultura
                </button>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="font-paragraph-cards overflow-text">
              Exposición del artista John Krasinsky.
            </p>
          </ion-row>
        </ion-card-content>
      </ion-card>


      <!-- Tercera carta Recomendados -->
      <ion-card class="home-card">
        <img src="assets/imgs/Gastronomia03.jpg" />
        <ion-card-content>
          <ion-row no-wrap align-items-center justify-content-center>
            <ion-col col-8 no-padding>
              <ion-card-title text-wrap class="font-titles-cards">
                Paletas de Nieve
              </ion-card-title>
            </ion-col>
            <ion-col col-4>
              <ion-row align-items-center justify-content-center>
                <p class="hearts">7,505
                  <ion-icon name="heart" mini color="romantico"></ion-icon>
                </p>
              </ion-row>
              <ion-row align-items-center justify-content-center>
                <button class="button-cat" no-shadow ion-button block small text-wrap>
                  Pueblo Mágico
                </button>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="font-paragraph-cards overflow-text">
              Paletas de nieve para disfrutarse en verano.
            </p>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-scroll>
  </div>


  <!-- Apartado de "Aventuras" -->
  <ion-row align-items-center>
    <ion-col col-8>
      <h2 class="font-headers-cards">Aventuras</h2>
    </ion-col>
    <ion-col col-4>
      <ion-row align-items-center justify-content-end>
        <button ion-button small clear icon-end class="font-boton" (click)="Categorias('experiencias','primary')">Ver mas
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </ion-row>
    </ion-col>
  </ion-row>

  <div>
    <ion-scroll class="ionscroll" scrollX="true" scrollY="true">
      <!-- Propiedades de la Carta -->
      <ion-card class="home-card" *ngFor="let atr of Aventuras">
        <img [src]="atr.imageName" />
        <ion-card-content>
          <ion-row no-wrap align-items-center justify-content-center>
            <ion-col col-8 no-padding>
              <ion-card-title text-wrap class="font-titles-cards">
                {{atr.headerText}}
              </ion-card-title>
            </ion-col>
            <ion-col col-4>
              <ion-row align-items-center justify-content-center>
                <p class="hearts">{{atr.megusta}}
                  <ion-icon name="heart" mini color="romantico"></ion-icon>
                </p>
              </ion-row>
              <ion-row align-items-center justify-content-center>
                <button class="button-cat-aven" no-shadow ion-button block small text-wrap>
                  {{atr.tag}}
                </button>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="font-paragraph-cards overflow-text">
              {{atr.subText}}
            </p>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-scroll>
  </div>

  <!-- Apartado de "Gastronomia" -->
  <ion-row align-items-center>
    <ion-col col-8>
      <h2 class="font-headers-cards">Gastronomía</h2>
    </ion-col>
    <ion-col col-4>
      <ion-row align-items-center justify-content-end>
        <button ion-button small clear icon-end class="font-boton" (click)="Categorias('gastronomia','comida')">Ver mas
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </ion-row>
    </ion-col>
  </ion-row>

  <div>
    <ion-scroll class="ionscroll" scrollX="true" scrollY="true">
      <!-- Propiedades de la Carta -->
      <ion-card class="home-card" *ngFor="let atr of Gastronomia">
        <img [src]="atr.imageName" />
        <ion-card-content>
          <ion-row no-wrap align-items-center justify-content-center>
            <ion-col col-8 no-padding>
              <ion-card-title text-wrap class="font-titles-cards">
                {{atr.headerText}}
              </ion-card-title>
            </ion-col>
            <ion-col col-4>
              <ion-row align-items-center justify-content-center>
                <p class="hearts">{{atr.megusta}}
                  <ion-icon name="heart" mini color="romantico"></ion-icon>
                </p>
              </ion-row>
              <ion-row align-items-center justify-content-center>
                <button class="button-cat-gast" no-shadow ion-button block small text-wrap>
                  {{atr.tag}}
                </button>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="font-paragraph-cards overflow-text">
              {{atr.subText}}
            </p>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-scroll>
  </div>

  <!-- Apartado de "Souvenir" -->
  <ion-row align-items-center>
    <ion-col col-8>
      <h2 class="font-headers-cards">Cultura</h2>
    </ion-col>
    <ion-col col-4>
      <ion-row align-items-center justify-content-end>
        <button ion-button small clear icon-end class="font-boton" (click)="Categorias('otras','otras')">Ver mas
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </ion-row>
    </ion-col>
  </ion-row>

  <div>
    <ion-scroll class="ionscroll" scrollX="true" scrollY="true">
      <!-- Propiedades de la Carta -->
      <ion-card class="home-card" *ngFor="let atr of Souvenir" (click)="goToActivity()">
        <img [src]="atr.imageName" />
        <ion-card-content>
          <ion-row no-wrap align-items-center justify-content-center>
            <ion-col col-8 no-padding>
              <ion-card-title text-wrap class="font-titles-cards">
                {{atr.headerText}}
              </ion-card-title>
            </ion-col>
            <ion-col col-4>
              <ion-row align-items-center justify-content-center>
                <p class="hearts">{{atr.megusta}}
                  <ion-icon name="heart" mini color="romantico"></ion-icon>
                </p>
              </ion-row>
              <ion-row align-items-center justify-content-center>
                <button class="button-cat-souv" no-shadow block ion-button small text-wrap>
                  {{atr.tag}}
                </button>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <p class="font-paragraph-cards overflow-text">
              {{atr.subText}}
            </p>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-scroll>
  </div>

</ion-content>
