<ion-header>

  <ion-navbar color="primary">
    <ion-title class="page-title" text-center>Inicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <img src="assets/imgs/Principal.jpg" style="height:280px"/>

  <h2 class="font-headers-cards">Recomendados
    <button ion-button small class="font-boton" style="left:30%" (click)="Recomendados()">Ver mas</button></h2>

  <div>
    <ion-scroll class="ionscroll" scrollX="true" scrollY="true">
    <!-- Primera carta Recomendados -->
      <ion-card class="home-card">
        <img src="assets/imgs/Souvenir01.jpg"/>
        <ion-card-content>
          <ion-card-title class="font-titles-cards">
            Accesorios y Alebrijes
          </ion-card-title>
          <p class="font-paragraph-cards">
            Recuerdos de buena calidad para recordar su visita.
          </p>
        </ion-card-content>
      </ion-card>

    <!-- Segunda carta Recomendados -->
      <ion-card class="home-card">
        <img src="assets/imgs/Aventura02.jpg"/>
        <ion-card-content>
          <ion-card-title class="font-titles-cards">
            Cueva de Murcielagos
          </ion-card-title>
          <p class="font-paragraph-cards">
            Salen a cazar aproximadamente alrededor de las 8:10 pm.
          </p>
        </ion-card-content>
      </ion-card>

    <!-- Tercera carta Recomendados -->
      <ion-card class="home-card">
        <img src="assets/imgs/Gastronomia03.jpg"/>
        <ion-card-content>
          <ion-card-title class="font-titles-cards">
            Paletas de Nieve
          </ion-card-title>
          <p class="font-paragraph-cards">
            Paletas de nieve para disfrutarse en verano.
          </p>
        </ion-card-content>
      </ion-card>

    </ion-scroll>
  </div>


  <!-- Apartado de "Aventuras" -->
  <h2 class="font-headers-cards">Aventuras
    <button ion-button small class="font-boton" style="left:45%" (click)="Categorias('experiencias','primary')">Ver mas</button></h2>

  <div>
    <ion-scroll class="ionscroll" scrollX="true" scrollY="true">
    <!-- Propiedades de la Carta -->
      <ion-card class="home-card" *ngFor="let atr of Aventuras">
        <img [src]="atr.imageName"/>
        <ion-card-content>
          <ion-card-title class="font-titles-cards">
            {{atr.headerText}}
          </ion-card-title>
          <p class="font-paragraph-cards">
            {{atr.subText}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-scroll>
  </div>

  <!-- Apartado de "Gastronomia" -->
  <h2 class="font-headers-cards">Gastronomía
    <button ion-button small class="font-boton" style="left:38%" (click)="Categorias('gastronomia','comida')">Ver mas</button></h2>

  <div>
    <ion-scroll class="ionscroll" scrollX="true" scrollY="true">
    <!-- Propiedades de la Carta -->
      <ion-card class="home-card" *ngFor="let atr of Gastronomia">
        <img [src]="atr.imageName"/>
        <ion-card-content>
          <ion-card-title class="font-titles-cards">
            {{atr.headerText}}
          </ion-card-title>
          <p class="font-paragraph-cards">
            {{atr.subText}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-scroll>
  </div>

  <!-- Apartado de "Souvenir" -->
  <h2 class="font-headers-cards">Souvenir
    <button ion-button small class="font-boton" style="left:49%" (click)="Categorias('otras','otras')">Ver mas</button></h2>

  <div>
    <ion-scroll class="ionscroll" scrollX="true" scrollY="true">
    <!-- Propiedades de la Carta -->
      <ion-card class="home-card" *ngFor="let atr of Souvenir">
        <img [src]="atr.imageName"/>
        <ion-card-content>
          <ion-card-title class="font-titles-cards">
            {{atr.headerText}}
          </ion-card-title>
          <p class="font-paragraph-cards">
            {{atr.subText}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-scroll>
  </div>

</ion-content>
