// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
<<<<<<< HEAD
$tabs-height: 40px !default;
=======
$tabs-height: 44px !default;
// $background-color: #2e2e2e;
>>>>>>> 2ac5041dff03b8c7cc5c3f2e411b0bc05e686a4b



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
<<<<<<< HEAD
  primary:    #51a305,
  primary-dark: #c2181e,
  secondary:  #fff100,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  buttoncolor:(base:#b1ffbe, contrast:#fff)
=======
  // primary: (base: #51a305, contrast: #fff),
  primary:     #ffffff,
  // primary:    #51a305,
  // primary:    #555555,
  // primary:    #ff9100,
  // primary:    #18cc00,
  primary-dark: #eb0e15,
  secondary:  #ffd000,
  danger:     #f53d3d,
  light:      #f4f4f4,
  whitecustom:  #fff,
  dark:       #222,
  redheart:   #ff3769,
  bluecompass: (base: #2c69ec, contrast:  #fff),
  experiencias: (base: #51a305, contrast: #fff),
  romantico:    (base: #ff3344, contrast:  #fff),
  pasado:       (base: #705f51, contrast:  #fff),
  comida:       (base: #ffd000, contrast:  #fff),
  // musica:     (base: #222, contrast:  #fff),
  // musica:     (base: #2c69ec, contrast:  #fff),
  musica:     (base: #0836a9, contrast:  #fff),
  deportes:   (base: #6100cf, contrast:  #fff),
  regio:      (base: #ff7e28, contrast:  #fff),
  otras:      (base: #1bdd6c, contrast:  #fff),
>>>>>>> 2ac5041dff03b8c7cc5c3f2e411b0bc05e686a4b
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-title-font-size: 1.7rem;
$toolbar-ios-height: 49px;
$tabs-ios-tab-min-height: 47px;
$toolbar-ios-padding: 0px;
$toolbar-ios-margin: 0px;
$button-ios-ripple-background-color: #ffffff;
<<<<<<< HEAD
=======
$text-input-ios-show-focus-highlight: false;
$tabs-ios-tab-color-active: #18cc00;
$tabs-ios-tab-color-inactive: #3b3b3b;
>>>>>>> 2ac5041dff03b8c7cc5c3f2e411b0bc05e686a4b

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-title-font-size: 1.7rem;
$toolbar-md-height: 49px;
$tabs-md-tab-min-height: 47px;
$toolbar-md-padding: 0px;
$toolbar-md-margin: 0px;
$button-md-ripple-background-color: #ffffff;
<<<<<<< HEAD
=======
$text-input-md-show-focus-highlight: false;
$item-md-detail-push-show: true;
$tabs-md-tab-color-active: #18cc00;
$tabs-md-tab-color-inactive: #3b3b3b;

>>>>>>> 2ac5041dff03b8c7cc5c3f2e411b0bc05e686a4b

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$toolbar-wp-title-font-size: 1.5rem;
$toolbar-wp-height: 49px;
$tabs-wp-tab-min-height: 47px;
$toolbar-wp-padding: 0px;
$toolbar-wp-margin: 0px;
$button-wp-ripple-background-color: #ffffff;
<<<<<<< HEAD
=======
$text-input-wp-show-focus-highlight: false;
$item-wp-detail-push-show: true;
$tabs-wp-tab-color-active: #18cc00;
$tabs-wp-tab-color-inactive: #3b3b3b;
>>>>>>> 2ac5041dff03b8c7cc5c3f2e411b0bc05e686a4b

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
